{% block title %}
<h4>{{ title }}</h4>
{% endblock %}

{% block content %}

<form method="post" action="create">
    {% csrf_token %}
    <table>{{ form }}</table>
    <button type="submit"> Insert into DB </button>
</form>

{% endblock %}