<h3>
    <a href="{% url 'list' %}">Contact List</a>
    <a href="{% url 'create' %}">Add Contact</a>
</h3>
{% block title %}
<h4>{{ title }}</h4>
{% endblock %}

{% block content %}

    <table>
        <tr>
            <th>Name</th>
            <th>Surname</th>
            <th>Phone</th>
            <th></th>
            <th></th>
        </tr>
        {% for contact in contacts %}
            <tr>
                <td>{{ contact.surname }}</td>
                <td>{{ contact.name }}</td>
                <td>{{ contact.phone }}</td>
                <td><a href="{{ contact.id }}/update">Update</a></td>
                <td><a href="{{ contact.id }}/delete">Delete</a></td>
            </tr>
        {% endfor %}
    </table>

{% endblock %}